<div class="row">
    <div class="ghost-col spacer" *ngFor="let item of [].constructor(18); let i = index"></div>
</div>
<div class="container">

    <div class="row" >
        <div *ngFor="let element of getRowOfElements(1)" 
        [ngClass]="logout(element)">
           
            <div class="test" *ngIf="element" >
                <app-atomic-banner [element]="element"></app-atomic-banner> 
            </div>
            
     
        </div>
    </div>
    <div class="row">
        <!-- ROW 2 -->
        <div *ngFor="let element of getRowOfElements(2)" 
        [ngClass]="logout(element)">
            <!-- 'ghost-col' element !== undefined ? getTestClass(element.groupBlock) : ''}" -->
            <div class="test" *ngIf="element" >
                <app-atomic-banner [element]="element"></app-atomic-banner> 
            </div>
        </div>
    </div>
    <div class="row">
        <!-- ROW 3 -->
        <div *ngFor="let element of getRowOfElements(3)" 
        [ngClass]="logout(element)">
            <!-- 'ghost-col' element !== undefined ? getTestClass(element.groupBlock) : ''}" -->
            <div class="test" *ngIf="element" >
                <app-atomic-banner [element]="element"></app-atomic-banner> 
            </div>
        </div>

    </div>
    <div class="row">
        <!-- ROW 4 -->
        <div class="col" (click)="onClickOnElement(item.atomicNumber)" [ngClass]="getTestClass(item.groupBlock)" *ngFor="let item of elements$ | slice:18:36;">
            <app-atomic-banner [element]="item"></app-atomic-banner>
        </div>


    </div>
    <div class="row">
        <!-- ROW 5 -->
        <div class="col" (click)="onClickOnElement(item.atomicNumber)" [ngClass]="getTestClass(item.groupBlock)" *ngFor="let item of elements$ | slice:36:54;">
            <app-atomic-banner [element]="item"></app-atomic-banner>
        </div>
    </div>
    <div class="row">
        <!-- ROW 6 -->
        <div class="col" (click)="onClickOnElement(item.atomicNumber)" [ngClass]="getTestClass(item.groupBlock)" *ngFor="let item of elements$ | slice:54:56;">
            <app-atomic-banner [element]="item"></app-atomic-banner>
        </div>
        <div class="col">57-71</div>
        <div class="col" (click)="onClickOnElement(item.atomicNumber)" [ngClass]="getTestClass(item.groupBlock)" *ngFor="let item of elements$ | slice:71:86;">
            <app-atomic-banner [element]="item"></app-atomic-banner>
        </div>
    </div>
    <div class="row">
        <!-- ROW 7 -->
        <div class="col" (click)="onClickOnElement(item.atomicNumber)" [ngClass]="getTestClass(item.groupBlock)" *ngFor="let item of elements$ | slice:86:88;">
            <app-atomic-banner [element]="item"></app-atomic-banner>
        </div>
        <div class="col">89-103</div>
        <div class="col" (click)="onClickOnElement(item.atomicNumber)" [ngClass]="getTestClass(item.groupBlock)" *ngFor="let item of elements$ | slice:103:118;">
            <app-atomic-banner [element]="item"></app-atomic-banner>
        </div>
    </div>
    <div class="row">
        <div class="ghost-col spacer" *ngFor="let item of [].constructor(18); let i = index"></div>
    </div>
    <div class="row">
        <!-- ROW 9 -->
        <div class="ghost-col"  *ngFor="let item of [].constructor(2); let i = index"></div>
        
        <div class="col" (click)="onClickOnElement(item.atomicNumber)" [ngClass]="getTestClass(item.groupBlock)" *ngFor="let item of elements$ | slice:56:71;">
            <app-atomic-banner [element]="item"></app-atomic-banner>
        </div>
        <div class="ghost-col" *ngFor="let item of [].constructor(1); let i = index"></div>
    </div>
    <div class="row">
        <!-- ROW 10 -->
        <div class="ghost-col"  *ngFor="let item of [].constructor(2); let i = index"></div>
        
        <div class="col" (click)="onClickOnElement(item.atomicNumber)" [ngClass]="getTestClass(item.groupBlock)" *ngFor="let item of elements$ | slice:88:103;">
            <app-atomic-banner [element]="item"></app-atomic-banner>
        </div>
        <div class="ghost-col" *ngFor="let item of [].constructor(1); let i = index"></div>
    </div>


</div>